<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


        <menu text="mus_Help">
            <menuitem name="mi_help" text="mis_Help" icon="img_Help" Action="actionHelp" Accelerator="acc_Help"/>
            <separator/>
            <menuitem name="mi_about" text="mis_About" icon="img_About" Action="actionAbout" Accelerator="acc_About" macos_about="true"/>
            <separator/>
            <menuitem name="mi_exit" text="mis_Exit" icon="img_Exit" mnemonic="mn_Exit" Action="actionExit" Accelerator="acc_Exit" macos_quit="true"/>
        </menu>
